* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

:root {

}

body {
    padding: 0;
    margin: 0;
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

#timer {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    border-radius: 10px;
}

/* Starting page  */
#start-page {
    display: block;
}

/* Q and A page  */
#question-container {
    display: none;
}
#answer-buttons {
    display: inline;
}

.answer-buttons li {
    background-color: blueviolet;
}

.answer-buttons #btn {
    flex: 1 0 100%;
}